
.DS_Store
Motion.xcodeproj/xcuserdata/liseami.xcuserdatad/xcschemes/xcschememanagement.plist
Motion.xcworkspace/xcuserdata/liseami.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/liseami.xcuserdatad/xcschemes/xcschememanagement.plist

Pods
Pods/*

